---
layout: default
permalink: /why/pattern-comparison
title: Pattern Comparison
---

<main class="lp-container">
  <section class="hero">
    <div class="columns">
      <div class="column">
        <div class="green-blob">
          <h1>Make Better Decisions</h1>
          <p>Costello gives sales manager the ability to easily view real-time call detail analytics across the entire sales team. Costello provides insight to assess strengths, gaps and weaknesses to better manage the pipeline. Ramp new sales reps up faster and spend more time coaching mid-tier reps.</p>
          <p>We are your sales reps intelligent sales assistant. Their co-pilot. We won’t leave their side.</p>
          <a href="{{page.url}}/#contact" class="lp-button">Learn More</a>
        </div>
      </div>
      <div class="column">&nbsp;</div>
    </div>
  </section>
  <section class="greenbg section">
    <div class="columns is-tablet">
      <div class="column is-half is-offset-one-quarter has-text-centered">
        <h2>Improve Rep Productivity</h2>
        <p>Just like Pattern, Costello helps every sales rep sell consistently and removes the labor-intensive, tedious daily tasks. Costello allows reps to do what they do best, selling. Costello prepares your reps to:</p>
        <ul class="columns">
          <li class="level-left level-item">
            {% include elements/image.html
              src="home/checkbox.svg"
              title="checkbox"
              classes="checkbox-image"
            %}
            <span>Prep before every call</span>
          </li>
          <li class="level-left level-item">
            {% include elements/image.html
              src="home/checkbox.svg"
              title="checkbox"
              classes="checkbox-image"
            %}
            <span>Ask great questions</span>
          </li>
          <li class="level-left level-item">
            {% include elements/image.html
              src="home/checkbox.svg"
              title="checkbox"
              classes="checkbox-image"
            %}
            <span>Stay on track</span>
          </li>
          <li class="level-left level-item">
            {% include elements/image.html
              src="home/checkbox.svg"
              title="checkbox"
              classes="checkbox-image"
            %}
            <span>Share relevant stories</span>
          </li>
          <li class="level-left level-item">
            {% include elements/image.html
              src="home/checkbox.svg"
              title="checkbox"
              classes="checkbox-image"
            %}
            <span>Sync notes to Salesforce</span>
          </li>
          <li class="level-left level-item">
            {% include elements/image.html
              src="home/checkbox.svg"
              title="checkbox"
              classes="checkbox-image"
            %}
            <span>Follow up in a timely manner</span>
          </li>
        </ul>
        <p>If you loved Pattern’s product, you will find even more value for your sales team in Costello.</p>
      </div>
    </div>
  </section>
  <section class="section">
    comparison table
  </section>
  <section class="section">
    <div class="columns is-tablet">
      <div class="column is-one-third is-offset-5">
        <blockquote class="blue-blob">
          <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae inventore, et assumenda illum nam? Est!</p>
          <div class="person">
            <img src="//fillmurray.com/120/120" alt="" class="person-headshot">
            <p class="person-name">Bill Murray</p>
          </div>
        </blockquote>
      </div>
    </div>
  </section>
  <section class="section greybg" id="contact">
    <div class="has-text-centered">
      <h2>Transition from Pattern to Costello within a day</h2>
      <p>Contact us to learn more now.</p>
    </div>
    <div class="columns is-tablet">
      <div class="column is-one-third is-offset-4">
        {% include elements/contact-form.html %}
      </div>
    </div>
  </section>
</main>