---
layout: default
title: Home
seo:
  description: Setup every sales rep to perform like your best rep.
section_one:
  heading: The best sales reps are consistent <br> But consistency in sales is hard
    highlight: best
    color: green
section_two:
  heading: We are what we repeatedly do. Excellence, is not an act, but a habit.
    highlight: but a habit
    color: magenta
section_three:
  heading: Sales is no different.
    highlight: false
---

{% include home/intro.html %}
{% include home/habit.html %}
{% include home/sales.html %}
{% include home/enter-costello.html %}
{% include home/prep.html %}
{% include home/discovery.html %}
{% include home/takeaways.html %}
{% include home/contact.html %}
