---
layout: customer-success
image: //fillmurray.com/1920/600
title: Sales enablement tool increases deals closed per month by 30%
customer_logo: /uploads/Bloomerang-Logo.png
description: We created Costello directly from feedback of from our customers.
---
<div class="site-width">
  <div class="two-third">
    <section>
      <div class="customer-challenge">
        <div class="customer-icon">
          {% include icons/question-mark-icon.html %}
        </div>
        <div class="customer-content">
          <h3>The Challenge</h3>
          <div class="editable">
            <p>Bloomerang had a discovery call form set up within Formstack containing more than 125 questions to complete. Though, the Formstack questionnaire does not autosave answers. On several occasions, reps lost their call notes completely. The Bloomerang sales team uses a three-step process: assessment, proposal and demo. Each sales person followed key phrases but didn’t have a set script to guide them through every call. Bloomerang has seen phenomenal growth throughout the last year and needed a way to scale their sales team faster and see increased results from new reps.</p>
          </div>
        </div>
      </div>
      <div class="customer-solution">
        <div class="customer-icon">
          {% include icons/lightbulb.html %}
        </div>
        <div class="customer-content">
          <h3>The Solution</h3>
          <div class="editable">
            <p>All sales reps can execute their calls through a templated process. Within one interface, Costello directs reps through each phase of the call to quickly capture answers and notes. The conditional secondary questions streamline the process. Costello populates the next questions based off of the answers to the prior questions. Costello automates the prompt for the next deeper question, ensuring all reps ask the necessary, key questions. Reps stay on task and keep prospect notes more organized now.</p>
            <p>Bloomerang has added a new account executive every quarter. Costello has accelerated the onboarding ramp up, making each new hire more effective.</p>
            <p>Instead of each rep using their own cut sheets and follow up email language, Costello provides them with an established follow-up process to ensure current collateral is sent to every prospect.</p>
            <p>Steven can easily see trends and activity at every stage of the sales cycle.</p>
          </div>
        </div>
      </div>
      <div class="customer-results">
        <div class="customer-icon">
          {% include icons/airplane-icon.html %}
        </div>
        <div class="customer-content">
          <h3>The Results</h3>
          <div class="editable">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aliquid, repudiandae debitis laborum similique incidunt alias amet minus quisquam quibusdam fugit eius repellendus inventore.</p>
          </div>
        </div>
      </div>
    </section>
    <aside class="pad-y">
      <div class="customer-about box--light">
        <h4>About {{page.path | remove: '_customer-success/' | remove: '.html' | capitalize}}</h4>
        <p class="editable">Bloomberg helps nonprofit organizations reach, engage and retain the advocates they depend on to achieve their vision for a better world. Their cloud-based donor management application empowers teams to achieve remarkable results through enhanced donor loyalty.</p>
      </div>
      <blockquote>
        <div class="blue-blob">
          <p class="quote editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae inventore, et assumenda illum nam? Est!</p>
          <div class="person">
            <div class="person-headshot-container">
              <img src="//fillmurray.com/120/120" alt="" class="editable person-headshot" />
            </div>
            <div class="person-info">
              <p class="editable person-name">Bill Murray</p>
              <p class="editable person-title">CEO</p>
              <img alt="Sales enablement tool increases deals closed per month by 30% Logo" class="editable person-company-logo" id="cms-identifiable-256" data-cms-cid="256" src="/uploads/versions/bloomerang-logo---x0-7-300-55-250-46x---.png" />
            </div>
          </div>
        </div>
      </blockquote>
    </aside>
  </div>
</div>