.magenta {
  color: $magenta;
}

.darkpink {
  color: $darkpink;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.lightgreen {
  color: $greenhighlight;
}

.cream {
  color: $cream;
}

.lightgreen {
  color: $lightgreen;
}

.lightblue {
  color: $lightblue;
}

.grey {
  color: $grey;
}

.darkgrey {
  color: $darkgrey;
}

.white {
  color: #fff;
}

.bluebg {
  background-color: $blue;
}

.greenbg {
  background-color: $lightgreen;
}

.darkgreenbg {
  background-color: $green;
}

.green-highlight {
  background-color: $greenhighlight;
}

.greybg {
  background-color: $grey;
}

.darkgreybg {
  background-color: $darkgrey;
}

.magentabg {
  background-color: $magenta;
}

.darkpinkbg {
  background-color: $darkpink;
}

.whitebg {
  background-color: #fff;
}
