.magenta {
  color: $magenta;
}

.darkpink {
  color: $darkpink;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.cream {
  color: $cream;
}

.lightgreen {
  color: $lightgreen;
}

.lightblue {
  color: $lightblue;
}

.grey {
  color: $grey;
}

.bluebg {
  background-color: $blue;
}

.greenbg {
  background-color: $lightgreen;
}

.darkgreenbg {
  background-color: $green;
}

.greybg {
  background-color: $greybg;
}

.magentabg {
  background-color: $magenta;
}

.darkpinkbg {
  background-color: $darkpink;
}
