label {
  display: block;
  font-weight: bold;
}

.asterisk {
  color: red;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid darken($grey, 15%);
  box-shadow: 0px 2px 5px rgba(black, 0.1);
  margin-bottom: 1rem;
}

input[type="submit"] {
  display: inline-block;
  color: #fff;
  background-color: $green;
  padding: 0.5rem;
  height: auto;
}

input:not(.phonepart) {
  width: 100%;
}

input[type="checkbox"] {
  float: left;
  width: initial;
  margin-right: 0.5rem;
  position: relative;
  top: 4px;
}

.phonefield {
  display: flex;
}

.phonefield > span {
  flex: 1;
}

.phonepart {
  width: calc(100% - 2rem);
}

.phonearea:after,
.phonedetail1:after {
  content: '\2014';
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.phonedetail2 .phonepart {
  width: 100%;
}