.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: auto 1.5rem;

  .content {
    align-items: center;

    h2 {
      font-weight: $bold;
    }
  }

  .image {
  }
}
