.section {
  min-height: 100vh;
  padding: auto 1.5rem;

  .content {
    align-items: center;

    h2 {
      font-weight: $bold;
    }

    h2 > span {
      font-weight: $bold;
    }

    @media(min-width: 720px) {
      padding: 0 10rem;
    }
  }

  .image {
  }
}
