@import "variables";

.section {
  align-items: flex-start;
  display: flex;
  min-height: 50vh;

  @media(min-width: $mobile) {
    align-items: center;
  }

  @media(min-width: $tablet) {
    min-height: 70vh;
  }

  .content {
    align-items: center;

    h2 {
      font-weight: $font-bold;
    }

    h2 > span {
      font-weight: $font-bold;
    }

    @media(min-width: 720px) {
      padding: 0 10rem;
    }
  }
}
