// colors
$magenta: #863D58;
$darkpink: #a16479;
$blue: #7AC1FF;
$green: #66AF68;
$cream: #FFF4C5;
$lightgreen: #CBE4CC;
$lightblue: #E4EAF4;
$grey: #F7F7F7;

$greenbg: #F0F7F0;
$greybg: $grey;

// font
$bold: 700;
