// colors
$magenta: #863D58;
$darkpink: #a16479;
$cream: #FFF4C5;
$green: #007c04;
$greenhighlight: #66af68;
$lightgreen: #f0f7f0;
$lightblue: #E4EAF4;
$blue: #6686c3;
$grey: #F7F7F7;
$darkgrey: darken($grey, 20);

$greenbg: $lightgreen;
$greybg: $grey;

// shadows
$image-shadow: 0 -5px 60px #ccc;

// modifiers
$radius: 5px;
$button-border: none;

// breakpoints
$mobile: 720px;
