---
layout: default
title: Thank you
permalink: /signup/success
includes:
  head:
    - analytics/fb_thankyou.html
---

<section class="thank-you columns is-centered is-12" style="padding-top: 20vh;">
  <div class="box column is-4 is-3-tablet">
    <div class="level-left">
      {% include elements/title.html
        text="Success!"
        size="2"
      %}
    </div>
    <hr>
    <div class="content is-large">
      <p class="editable">
        You have successfully signed up with Costello.
        <br>
        We will be contacting you shortly.
      </p>

      <div class="level">
        <a href="/" class="button darkgreybg editable">
          Back to Costello
        </a>
        {% include elements/image.html
          src="home/airplane.svg"
          title="airplane"
          classes="airplane column is-3-desktop pull-right is-hidden-touch"
        %}
      </div>
    </div>
  </div>
</section>

{% include analytics/adwords_conversion.html data=site.google.adwords %}