/*
==============================
COLORS
==============================
*/
$white: #fff;
$light-gray: #D0D2D3;
$black: #4a4a4a;
$brand: #66AF68;
$brand-two: #f7da68;
$brand-three: #a16479;
$brand-four: #6686c3;


/*
==============================
FONTS
==============================
*/
$brand-font-stack: 'Roboto', Helvetica, Arial, sans-serif;


/*
========================
BREAKPOINTS
========================
*/
$breakpoints: (
  xs: 0px,
  sm: 600px,
  md: 767px,
  lg: 1050px,
  xl: 1280px,
  xxl: 1440px
) !default;


/*
============================================
CREATE MEDIA QUERY
============================================
*/ 
@mixin bp($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@import 'base/_reset',
        'base/_typography',
        'base/_grid',
        'modules/_blob',
        'modules/_buttons',
        'modules/_card',
        'modules/_category-listing',
        'modules/_footer',
        'modules/_form',
        'modules/_hero',
        'modules/_site-header',
        'pages/_blog-single',
        'pages/_resource-layout',
        'pages/_press-archive',
        'pages/_press-single',
        'pages/_single-page',
        'base/_utilities';