{% assign street = site.address.street %}
{% assign suite = site.address.suite %}
{% assign city = site.address.city %}
{% assign state = site.address.state %}
{% assign zip = site.address.zip %}
{% assign phone = site.phone %}

<footer class="darkgreybg">
  <div class="level">
    <div class="level-left">
      <p class="level-item">
        {% include elements/image.html
          src="global/logo-white.svg"
          classes=""
        %}
      </p>
      <address>
        <span>{{street}}</span>
        <span>{{suite}}</span>
        <span>{{city}}, {{state}} {{zip}}</span>
        <a class="white" href="{{phone}}" type="tel">{{phone}}</a>
      </address>
    </div>
    <div class="level-center has-text-centered white">
      <p class="level-item">&copy; {{"now" | date: "%Y"}} Costello. All Rights Reserved</p>
      <p class="level-item"><a href="/privacy/" style="color: #fff;">Privacy Policy</a></p>
    </div>
    <div class="level-right">
      <div class="level-item social-links">
        <h3 class="title is-4 white">Connect With Us</h3>
        <ul>
          <li>
            <a class="fa fa-3x fa-facebook white" target="_blank" href="{{site.social.facebook}}"></a>
          </li>
          <li>
            <a class="fa fa-3x fa-twitter white" target="_blank" href="{{site.social.twitter}}"></a>
          </li>
          <li>
            <a class="fa fa-3x fa-linkedin white" target="_blank" href="{{site.social.linkedin}}"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>