<form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

  <input type=hidden name="oid" value="00D46000000q7nY">
  <input type=hidden name="retURL" value="https://andcostello.com/signup/success">
  {% comment %}<input type=hidden name="retURL" value="http://localhost:4000/signup/success">{% endcomment %}
  {% comment %}<input type=hidden name="retURL" value="http://early-lute.cloudvent.net/signup/success">{% endcomment %}
  <input type="hidden" name="lead_source" value="Website">

  <div class="field">
    <label class="label" for="first_name">First Name</label>
    <p class="control">
      <input
        name="first_name"
        maxlength="40"
        class="input"
        type="text"
        oninvalid="this.setCustomValidity('First name is required')"
        oninput="setCustomValidity('')"
        placeholder="First Name"
        required
      >
    </p>
  </div>

  <div class="field">
    <label class="label" for="last_name">Last Name</label>
    <p class="control">
      <input
        name="last_name"
        class="input" 
        type="text"
        oninvalid="this.setCustomValidity('Last name is required')"
        oninput="setCustomValidity('')"
        placeholder="Last Name"
        required
      >
    </p>
  </div>

  <div class="field">
    <label class="label" for="email">Company Email</label>
    <p class="control">
      <input
        name="email"
        class="input"
        type="text"
        oninvalid="this.setCustomValidity('Email is required')"
        oninput="setCustomValidity('')"
        placeholder="Email"
        required
      >
    </p>
  </div>

  <hr>

  <div class="field columns is-centered is-mobile">
    <p class="control has-text-center">
      <input name="submit" class="button darkgreybg" type="submit" value="Sign me up">
    </p>
  </div>
</form>
