.animated {
  animation-duration: 90s;
  animation-fill-mode: both;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

.rotateClockwise {
  animation-name: rotateClockwise;
  animation-iteration-count: infinite;
}

@keyframes rotateCounterClockwise {
  from {
    transform: rotate(1turn);
  }

  to {
    transform: rotate(0);
  }
}

.rotateCounterClockwise {
  animation-name: rotateCounterClockwise;
  animation-iteration-count: infinite;
}