.home__contact {
	background: url(/assets/images/home/contact-bg.png) center no-repeat;
  background-size: 100%;

  @media(min-width: $desktop) {
    background-size: 70%;
  }

  @media(min-width: $widescreen) {
    background-size: 60%;
  }

  @media(min-width: 1820px) {
    background-size: 45%;
  }

  &-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;

    @media(min-width: 375px) {
      width: 21rem;
    }
  }

  .image {
		height: 50px;
    margin-left: auto;
    margin-right: 4rem;
		width: 96px;
  }

  .field {
    margin-bottom: 1rem;
  }

  input[type=submit] {
    margin-top: 1rem;
  }
}
