.home__contact {
  background: url(/assets/images/home/contact-bg.png) center no-repeat;
  background-size: 100%;

  @media(min-width: $tablet) {
    background-size: 70%;
  }

  @media(min-width: $desktop) {
    background-size: 50%;
  }

  @media(min-width: $widescreen) {
    background-position: bottom;
    background-size: 33%;
  }

  &-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;

    @media(min-width: 375px) {
      width: 21rem;
    }
  }

  &-copy {
    margin: 0 auto;
    text-align: left;
    width: 100%;

    @media(min-width: 480px) {
      text-align: center;
    }

    h2 strong {
      font-size: 1.75rem;

      @media(min-width: $mobile) {
        font-size: 2.75rem;
      }
    }

    .image {
      height: 50px;
      margin: 0 auto;
      width: 96px;

      @media(min-width: $mobile) {
        padding-bottom: 10rem;
      }
    }
  }

  .field {
    margin-bottom: 1rem;
  }

  input[type=submit] {
    font-weight: bold;
    margin-top: 1rem;
  }
}
