.home__discovery {
  background-image: url(/assets/images/home/discovery-bg.png);
  background-position: 20% 10%;
  background-repeat: no-repeat;
  background-size: 90%;

  @media(min-width: $mobile) {
    background-position: 20%;
    background-size: 40%;
  }

  @media(min-width: $desktop) {
    background-position: center;
    background-size: 40%;
  }
}
