.home__enter-costello {
  padding-bottom: 0;

  &-copy {
    margin: auto 0 2rem;

    @media(min-width: $desktop) {
      height: 29.2rem;
      margin: 5rem 0;
      padding: 8rem 22rem 0 8rem;
      background: url(/assets/images/home/enter-costello-bg.png) center/contain no-repeat;
    }

    @media(min-width: $widescreen) {
      padding: 8rem 22rem 0 18rem;
    }
  }

  .airplane  {
    top: 15rem;
    right: 0;
    position: absolute;
    width: 25%;
    transition: all .5s ease-in-out;
    z-index: 2;

    @media(min-width: 450px) {
      right: 10rem;
      top: -4rem;
      width: 18%;
    }

    @media(min-width: $mobile) {
      right: 40%;
      top: 10rem;
      width: 12%;
    }

    @media(min-width: $desktop) {
      left: unset;
      right: 0;
      top: 16rem;
      width: 22%;
    }

    @media(min-width: $widescreen) {
      right: 5rem;
      top: 15rem;
      width: 19%;
    }
  }
}
