.home__enter-costello {
  min-height: auto;
  padding-bottom: 0;

  &-copy {
    margin: auto 0 2rem;
    @media(min-width: $desktop) {
      height: 29.2rem;
      margin: 5rem 0;
      padding: 8rem 18rem 0 0;
      background: url(/assets/images/home/enter-costello-bg.png) center/contain no-repeat;
    }

    @media(min-width: $widescreen) {
      padding: 8rem 18rem 0 5rem;
    }
  }

  .airplane  {
    display: none;

    @media(min-width: $desktop) {
      position: absolute;
      display: block;
      right: 8rem;
      top: 13rem;
      width: 25%;
    }

    @media(min-width: $widescreen) {
      right: 4rem;
      top: 14rem;
      width: 25%;
    }
  }
}
