.home__habit {
  align-items: center;
  min-height: 100vh;

  @media(min-width: $desktop) {
    min-height: 70vh;
  }

  &-copy {
    margin-bottom: 3rem;
  }

  .image {
    padding: 0 30%;

    @media(min-width: $tablet) {
      padding: 0;
    }
  }
}
