.home__intro {
  background-image: url(/assets/images/home/intro-bg.png);
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: 80%;
  margin-bottom: 0;
  padding: 2rem 2rem 0;

  @media(min-width: $mobile) {
    background-position: 40% 50%;
  }

  .level-item {
    justify-content: flex-start;
  }

  @media(min-width: $mobile) {
    padding-bottom: 0;

    .level-item {
      justify-content: center;
    }
  }

  .content {
    margin-top: 3rem;

    @media(min-width: $mobile) {
      margin: 10rem 0 4rem 0;
    }
  }
}
