.home__intro {
  margin-bottom: 0;
  min-height: 50vh;
  padding: 2rem 2rem 0;

  .level-item {
    justify-content: flex-start;
  }

  @media(min-width: $mobile) {
    padding-bottom: 0;

    .level-item {
      justify-content: center;
    }
  }

  .content {
    margin-top: 3rem;

    @media(min-width: $mobile) {
      margin: 10rem 0 4rem 0;
    }
  }
}
