.home__intro {
  .content {
    margin-top: 3rem;

    @media(min-width: 720px) {
      margin: 10rem 0 7rem 0;
    }
  }

  .image {
    padding: 0 2rem 0;
    margin: 3rem 0 0;
  }

  .image img {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    box-shadow: $image-shadow;
  }
}
