.home__prep {
  &-container {
    align-items: center;
  }

  .content {
    margin-left: auto;
    padding: 0;
    width: 100%;

    @media(min-width: $tablet) {
      padding: 0 5rem;
      width: 50%;
    }
  }
}
