.home__sales {
  align-items: flex-start;
  background-image: url(/assets/images/home/trashcan.png);
  background-color: $grey;
  background-position: 39% 12%;
  background-repeat: no-repeat;
  min-height: 70vh;

  @media(min-width: $mobile) {
    background-position: 37% 2%;
    height: auto;
  }

  @media(min-width: $desktop) {
    align-items: center;
    background-position: left -32.18rem bottom -21rem;
  }
}
