.home__sales {
  align-items: flex-start;
  background-image: url(/assets/images/home/trashcan.png);
  background-color: $grey;
  background-position: 39% 12%;
  background-repeat: no-repeat;
  min-height: 75vh;
  transition: all .5s ease-in-out;

  @media(min-width: $mobile) {
    background-position: 37% 2%;
    padding: 1rem 2rem;
  }

  @media(min-width: $desktop) {
    align-items: center;
    background-position: left -32.18rem bottom -21rem;
    padding: 22rem 2rem;
  }
}
