---
layout: default
---
<article>
  <header class="hero">
    <img src="{{page.image}}" alt="{{page.title}}">
    <h1>{{page.title}}</h1>
    <p class="subhead">{{page.description}}</p>
  </header>
  <section class="blog-meta-container">
    <ul class="blog-meta-list">
      <li class="blog-author">By: 
        {% for author in site.team %}
          {% if author.name == page.author %}
            {{author.name}}
          {% endif %}
        {% endfor %}
      </li>
      <li class="blog-date">May 9, 2017</li>
    </ul>
  </section>
  <section class="blog-content editable">
    {{content}}
  </section>
</article>