<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  {% include social-meta.html %}
</head>
{% if page.url == '/' %}
  <body class="home">
{% elsif page.path contains 'team' %}
  {% if page.path contains '_team' %}
    <body class="single-team">
  {% else %}
    <body class="archive-team">
  {% endif %}
{% elsif page.path contains '_posts' %}
  <body class="single-blog">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% else %}
  <body>
{% endif %}

  <header>
    <nav>
      <ul>
        {% for link in site.data.header-nav %}
          <li><a href="{{link.link}}">{{link.name}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
      {{content}}
  </main>
</body>
</html>