<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  
  {% if page.title %}
    {% if page.name %}
      <title>Costello | {{page.name | remove: '.html' | capitalize }}</title>
    {% else %}
      <title>Costello | {{page.title}}</title>
    {% endif %}
  {% else %}
    <title>Costello</title>
  {% endif %}

  {% include social-meta.html %}

</head>

{% include body-class.html %}

  <header>
    <nav>
      {% include header-navigation.html %}
    </nav>
  </header>
  <main>
      {{content}}
  </main>
</body>
</html>