---
layout: default
---
<article>
  {% include hero.html %}
  
  <div class="site-width">
    <section class="post-content">
      <div class="two-third">
        <article class="blue-blob">
          {{content}}
        </article>
        <aside>
          <h4>Related Press</h4>
          <ul>
            {% for release in site.press limit: 5 %}
              {% unless release.url == page.url or release.url == '/press/' %}
                <li><a href="{{release.url}}" title="{{release.title}}">{{release.title}}</a></li>
              {% endunless %}
            {% endfor %}
          </ul>
          <a href="/press/" class="btn-primary-outline">View All Releases</a>
        </aside>
      </div>
    </section>
    <section class="costello-boilerplate">
      <div class="two-third">
        <div>
          <h3>About Costello</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius aliquid eligendi pariatur totam commodi sequi dolor obcaecati, officia repellat, non dolores magni, aut. Repellendus, praesentium. Eius aliquid eligendi pariatur totam commodi sequi dolor obcaecati.</p>
        </div>
      </div>
    </section>
  </div>
</article>