---
layout: default
---

{% include hero.html %}

{% include resource-navigation.html %}

<section class="resource-grid">
  <div class="site-width">
    
    {% if page.path contains 'blog' %}
      <div class="one-fourth">
        <ul class="half">
          {% for item in site.posts %}
            {% include card.html %}
          {% endfor %}
        </ul>
        <div>
          <h4>Categories</h4>
          <ul>
            {% for category in site.categories %}
              {% assign my_cat = category[0] | downcase %}
              {% if page.url contains my_cat %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
              <a href="/blog/{{ my_cat }}">{{ category[0] }} <span> ({{ category[1].size }}) </span></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% elsif page.url == '/resources/' %}
      {% for thing in site.pages %}
        {{thing.name}}
      {% endfor %}
    {% elsif page.url == '/press/' %}
      
      {% include press-release-listing.html %}
      
    {% else %}
      {% assign my_page = page.title | downcase %}
      <ul class="third">
        {% for item in site.[my_page] %}
          {% unless item.url == page.url %}
              {% include card.html %}
          {% endunless %}
        {% endfor %}
      </ul>
    {% endif %}

  </div>
</section>