---
layout: default
---
<main class="lp-container">
  <section class="hero has-text-centered" style="background-color: #363636; background-image: initial; padding-bottom: 3rem;">
    {% if page.image %}
      <img src="{{page.image}}" alt="{{page.title}} Feautred Image" class="featured-image">
    {% endif %}
    <h1 style="max-width: 75%; margin-left: auto; margin-right: auto;">{{page.title}}</h1>
  </section>
  <div class="columns is-centered" style="margin-top: 2rem;">
    <div class="column is-half">
      {{content}}
    </div>
  </div>
</main>