<section class="container column is-12 home__contact section">
  <div class="home__contact-copy content is-large">
    {% include elements/title.html
      size="2"
      highlight=include.data.heading_highlight
      highlight_color=include.data.heading_highlight_color
      strong=true
      text=include.data.heading
    %}
    {% include elements/image.html
      src="global/logo.png"
    %}
  </div>
  <div id="contact" class="container-fluid home__contact-container">
    {% include elements/title.html
      size="4"
      strong=true
      classes="home__contact-allow-me"
      text="Allow me to introduce myself."
    %}
    {% include elements/contact-form.html %}
  </div>
</section>
