<section class="home__contact section">
  <div id="contact" class="container-fluid home__contact-container">
    <div class="home__contact-copy content is-large">
      {% include elements/title.html
        size="3"
        strong=true
        text="
          <span class='green-highlight'><strong>Co-pilot.</strong></span> Assistant. Hype-man.
          <br>
          Check. Check. Check.
        "
      %}
      {% include elements/title.html
        size="3"
        strong=true
        text="Interested? <br />Of course you are."
      %}
      {% include elements/image.html
        src="global/logo.png"
      %}
    </div>
    {% include elements/contact-form.html %}
  </div>
</section>
