<section class="home__discovery section bluebg">
  <div class="container-fluid">
    <div class="content is-large columns">
      {% include elements/image.html
        src="home/discovery.png"
      %}
      <div class="home__discovery-copy column is-5 is-offset-1">
        {% include elements/title.html
          size="3"
          strong=true
          text="Turn insights into real-time, <br>
            <span class='bluebg'>intelligent actions.</span>"
        %}
        <p>
          No more "reviewing the tape." Costello
          <br>
          provides customized suggestions and
          <br>
          anecdotes based on your sales process.
        </p>
      </div>
    </div>
  </div>
</section>
