<section class="home__discovery section">
  <div class="column container is-12 home__discovery-container">
    <div class="columns">
      <div class="home__discovery-image column is-half-desktop is-full-mobile">
        {% include elements/image.html
          src="home/discovery.svg"
        %}
      </div>
      <div class="home__discovery-copy column is-half-desktop is-full-mobile content is-large">
        {% include elements/title.html
          size="3"
          highlight=include.data.heading_highlight
          highlight_color=include.data.heading_highlight_color
          strong=true
          text=include.data.heading
        %}
        <p class="editable">When reps are on the phone, Costello provides dynamic suggestions and shareable customer stories based on your sales process.</p>
      </div>
    </div>
  </div>
</section>
