<section class="home__enter-costello section">
  <div class="container">
    <div class="columns">
      <div class="home__enter-costello-copy column is-full">
        <div class="content is-large">
          {% include elements/title.html
            size="3"
            highlight=include.data.heading_highlight
            highlight_color=include.data.heading_highlight_color
            strong=true
            text=include.data.heading
          %}
          <p class="editable">Costello guides your reps to ask the right questions, provides them with dynamic suggestions, and makes it easy to form habits that close more deals.</p>
        </div>
      </div>
      {% include elements/image.html
        src="home/airplane.svg"
        title="airplane"
        classes="airplane"
      %}
    </div>
    <div class="columns">
      {% include elements/image.html
        src="home/enter-costello.png"
        title="Enter Costello"
        classes="column is-full-desktop"
      %}
    </div>
  </div>
</section>
