<section class="home__enter-costello section">
  <div class="container">
    <div class="columns">
      <div class="home__enter-costello-copy column is-full">
        <div class="content is-large">
          {% include elements/title.html
            size="2"
            strong=true
            text="Enter Costello."
          %}
          <p class="editable">The intelligent sales assistant that guides your reps to ask the right questions, provides them with dynamic suggestions, makes it easy to form habits that close more deals, and gives you insights into what is working, what isn't, and why.</p>
        </div>
      </div>
      {% include elements/image.html
        src="home/airplane.png"
        title="airplane"
        classes="column airplane"
      %}
    </div>
    <div class="columns">
      {% include elements/image.html
        src="home/enter-costello.png"
        title="Enter Costello"
        classes="column is-full-desktop"
      %}
    </div>
  </div>
</section>
