<section class="home__habit section greybg">
  <div class="container">
    <div class="content is-large columns">
      <div class="home__habit-copy column is-7">
        {% include elements/title.html
          size="3"
          strong=true
          highlight=include.data.heading_highlight
          highlight_color=include.data.heading_highlight_color
          text=include.data.heading
          text='
            We are what we repeatedly do.
            Excellence, is not an act, but a habit.</strong></span>
          '
        %}
        <p class="editable">
          You can't do a few sit-ups on Monday, eat donuts on Tuesday, and expect a six-pack on Friday.
        </p>
      </div>
      <div class="home__habit-image column is-4 is-offset-1">
        {% include elements/image.html
          src="home/doughnut.png"
          title="home-doughnut"
        %}
      </div>
    </div>
  </div>
</section>
