<section class="integrations__prep section">
  <div class="container column is-12 integrations__prep-container">
    <div class="columns">
      <div class="integrations__prep-image column is-one-half-desktop is-one-half-tablet is-7-mobile is-offset-2-mobile">
        {% include elements/image.html
          src="home/integrations.svg"
        %}
      </div>
      <div class="integrations__prep-copy column is-half-desktop is-full-mobile content is-large">
        {% include elements/title.html
          size="3"
          highlight=include.data.heading_highlight
          highlight_color=include.data.heading_highlight_color
          strong=true
          text=include.data.heading
        %}
        <p class="editable">
          Costello works with the tools that are already working for you.
        </p>
      </div>
    </div>
  </div>
</section>
