<section class="home__intro section">
  <div class="container column is-12">
    <div class="home__intro-copy content is-large">
      {% include elements/title.html
        size="2"
        highlight=include.data.heading_highlight
        highlight_color=include.data.heading_highlight_color
        strong=true
        text=include.data.heading
      %}
      <p class="editable">What if every sales rep inherited the good habits of your best rep?<br />With Costello, they do.</p>
    </div>
    <div class="home__intro-image">
      {% include elements/image.html
        src="home/intro-window.png"
        classes="home__intro-image-window"
      %}
    </div>
  </div>
</section>
