<section class="home__intro section">
  <div class="container">
    <div class="level-left">
      <div class="level-item">
        <div class="heading">
          {% include elements/image.html
            src="global/logo.png"
          %}
        </div>
      </div>
    </div>
    <div class="home__intro-copy content is-large">
      {% include elements/title.html
        size="2"
        strong=true
        text='The <span class="green-highlight"><strong>best</strong></span> sales reps are consistent, but consistency in sales is hard.'
      %}
      <p class="editable">
        What if every sales rep inherited the habits of your best rep?
        <br />
        With Costello, they do.
      </p>
      <a class="button darkgreybg is-medium editable" href="#contact"><strong>Contact us</strong></a>
    </div>
    <div class="home__intro-image">
      {% include elements/image.html
        src="home/intro-window.png"
        classes="home__intro-image-window"
      %}
    </div>
  </div>
</section>
