<section class="home__prep section greenbg">
  <div class="column is-10 is-offset-1 home__prep-container">
    <div class="columns">
      <div class="home__prep-image column is-half-desktop is-full-mobile">
        {% include elements/image.html
          src="home/prep.svg"
        %}
      </div>
      <div class="home__prep-copy column is-half-desktop is-full-mobile content is-large">
        {% include elements/title.html
          size="3"
          highlight=include.data.heading_highlight
          highlight_color=include.data.heading_highlight_color
          strong=true
          text=include.data.heading
        %}
        <p class="editable">
          Reps know what to do. Costello just helps
          them remember. Prep constructively, ask
          timely questions, tell relevant stories, and
          follow up consistenly to win more deals.
        </p>
      </div>
    </div>
  </div>
</section>
