<section class="home__prep section greenbg">
  <div class="container">
    <div class="content is-large columns">
      {% include elements/image.html
        src="home/prep.png"
      %}
      <div class="home__prep-copy column is-5 is-offset-1">
        {% include elements/title.html
          size="3"
          strong=true
          text="Do more of the <span class='darkgreenbg'>right things.</span>"
        %}
        <p>
          Reps know what to do. Costello just helps
          <br>
          them remember. Prep constructively, ask
          <br>
          timely questions, tell relevant stories, and
          <br>
          follow up consistenly to win more deals.
        </p>
      </div>
    </div>
  </div>
</section>
