<section class="home__sales section greybg">
  <div class="container">
    <div class="content is-large columns">
      <div class="home__sales-image column is-6">
        {% include elements/image.html
          src="home/trashcan.png"
        %}
      </div>
      <!--<figure class="image is-1by1 column">-->
        <!--<img src="/assets/images/home/doughnut.png" alt="home-doughnut">-->
      <!--</figure>-->
      <div class="home__sales-copy column is-6">
        {% include elements/title.html
          size="3"
          strong=true
          text="Sales is no different."
        %}
        <p>
          You can't ask the wrong question at the right time or the right questions at the wrong time and expect consistently higher close rates.
        </p>
      </div>
    </div>
  </div>
</section>
