<section class="home__sales section greybg">
  <div class="container">
    <div class="content is-large columns">
      <div class="home__sales-copy column is-full-mobile is-full-tablet is-half-desktop is-offset-half-desktop">
        {% include elements/title.html
          size="3"
          strong=true
          text="Sales is no different."
        %}
        <p class="editable">
          You can't ask the wrong question at the right time or the right question at the wrong time and expect consistently higher close rates.
        </p>
      </div>
    </div>
  </div>
</section>
