<section class="home__takeaways greenbg section">
  <div class="column is-10 is-offset-1 home__takeaways-container">
    <div class="columns">
      <div class="home__takeaways-image column is-half-desktop is-full-mobile">
        {% include elements/image.html
          src="home/discovery-takeaways.png"
        %}
      </div>
      <div class="home__takeaways-copy column is-half-desktop is-full-mobile content is-large">
        {% include elements/title.html
          size="3"
          strong=true
          text="See <span class='green-highlight'><strong>what's working,</strong></span>
            what isn't, and why."
        %}
        <p class="editable">
          Have confidence in your pipeline. Costello is the only system
          that uses data to give insight into both the quality and quantity
          of deals and calls.
        </p>
      </div>
    </div>
  </div>
</section>
