<script type="text/javascript">
;(function(j,u,m,p,i,n,g){if(!j[i]){j.DemandJumpAnalytics=j.DemandJumpAnalytics||[];
j.DemandJumpAnalytics.push(i);j[i]=function(){(j[i].q=j[i].q||[]).push(arguments)
};j[i].q=j[i].q||[];n=u.createElement(m);g=u.getElementsByTagName(m)[0];n.async=1;
n.src=p;g.parentNode.insertBefore(n,g)}}(window,document,"script","//cdn.demandjump.com/analytics/dj.js","djpush"));
 
window.djpush('newTracker', 'demandjump-analytics','analytics.demandjump.com', {
       appId: '1230010026-01',
       platform: 'web',
       cookieDomain: '.andcostello.com',
       cookieName: 'djaim',
       contexts: {
         gaCookies: true,
         geolocation: false
       },
       post: true
});
 
window.djpush('trackPageView');

</script>