/*
==============================
SINGLE POST STYLES
==============================
*/

.blog-meta-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-date {
  font-size: 0.85rem;
}

.blog-author {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.blog-author .author-image {
  margin-right: 1rem;
}

.blog-author .author-image img {
  width: 100%;
  max-width: 65px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.65);
}

.blog-author .author-name {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.blog-author .author-details {
  display: flex;
  flex-direction: column;
}

.blog-author .author-social {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  text-align: left;
  display: flex;
}

.author-social a {
  margin-right: 0.5rem;
  display: inline-block;
}

.author-social svg {
  min-width: 15px;
  min-height: 15px;
  max-width: 15px;
  max-height: 15px;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.65));
}

.author-social path {
  fill: $white;
}

.blog-meta-container {
  margin-top: 1rem;
}

.social-sharing {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @include bp(md) {
    position: initial;
  }
}

.social-sharing h4 {
  display: none;
  @include bp(md) {
    display: block;
  }
}

.social-sharing-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  @include bp(md) {
    margin-bottom: 2rem;
  }
}

.social-sharing-links li {
  flex: 1;
  text-align: center;
  line-height: 1;
  @include bp(md) {
    border-radius: 5px;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    line-height: 1;
    min-height: 3rem;
  }
  svg {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
  }
  path {
    fill: $white;
  }
}

.facebook-share {
  background-color: #3b5998;
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus  {
    background-color: darken(#3b5998, 15%);
  }
}

.twitter-share {
  background-color: #00aced;
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus  {
    background-color: darken(#00aced, 15%);
  }
}

.linkedin-share {
  background-color: #007bb6;
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus  {
    background-color: darken(#007bb6, 15%);
  }
}

.call-to-action img {
  width: 100%;
}

.single-blog .related-links {
  padding-left: 0;
}