.single-press .hero,
.single-press aside ul,
.single-press aside h4 {
  text-align: left;
}

.single-press aside {
  text-align: center;
}

.single-press aside ul {
  list-style-type: none;
  padding-left: 0;
  a {
    color: $brand;
  }
  li:before {
    content: '\2022';
    margin-right: 0.5rem;
    font-size: 1.2em;
  }
}

.single-press aside .btn-primary {
  display: inline-block;
}