.press-release-listing {
  list-style-type: none;
  padding-left: 0;
  max-width: 768px;
  margin: 0 auto;
}

.press-release-listing li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  @include bp(md) {
    flex-direction: row;
  }
}

.press-release-date {
  text-transform: uppercase;
  color: $light-gray;
  font-weight: bold;
  opacity: 0.8;
  font-size: 1.5em;
  line-height: 1.1;
  @include bp(md) {
    font-size: 2.25em;
    margin-right: 3rem;
    text-align: right;
  }
}

.press-release-year {
  margin-left: 0.25em;
  @include bp(md) {
    display: block;
    margin-left: 0;
  }
}

.press-release-info-container span {
  font-size: 0.85em;
  display: inline-block;
  margin-top: 0.5em;
  @include bp(md) {
    margin-top: 0;
  }
}

.press-release-title a {
  color: $brand;
  text-decoration: none;
}