.resource-navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}

.resource-navigation li {
  margin: 0 1rem;
}

.resource-navigation {
  path {
    fill: $brand;
    transition: all 200ms ease-out;
  }
  .active path {
    fill: $white;
  }
}

.resource-navigation a {
  display: flex;
  padding: 0.75rem 3rem;
  &:hover path,
  &:focus path {
    fill: $white;
  }
}

.resource-navigation .active a {
  padding: 0.75rem 3rem;
  font-weight: bold;
}

.resource-icon-container {
  width: 20px;
  margin-right: 0.5rem;
  position: relative;
  top: 2px;
}

.resource-grid {
  padding-top: 0;
}

.resource-grid ul {
  margin-bottom: 0;
}